*{
  margin-right: 0% !important;
}

.pointer{
  cursor: pointer;
}

.sb-color {
  background-color: #a7c3e9;
}

.border {
  position: relative;
  align-items: center;
}

.top-border {
  position: relative;
  padding: 20px;
}

.top-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #000000, transparent); 
}


.border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #000000, transparent);
}


.modal{
  position: relative!important ;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
.a-link {
  text-decoration: none;

}

.icon-custome-color {
  color:#000000;
}

.project-three-bg {
  background-color: lightslategray;
}

.project-four-bg {
  background-color: hsl(360, 91%, 36%);
}

.bg-footer-custome {
  background-color: #796b93;
  border: 1px solid #000000; 
  border-bottom: none;
  border-left: none;

}

.footer-ml{
  margin-left: 250px;
}

footer a {
  color: #000000;
  text-decoration: none;
}

.no-underline {
  text-decoration: none !important;

}
.row {
  --bs-gutter-x: 0;
}

.custome-bg-color {
  background-color: #796b93;
  border: 1px solid #000000;
  border-bottom: none;
  border-top: none;

}

.custome-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custome-navbar-hover:hover{
  background-color: #000000;
  color: lightgrey !important;
}

.custome-bg-main {
  background-color: whitesmoke;
}

.icon-js {
  color: #F7DF1E;
}

.icon-html {
  color: #E34F26;
}

.icon-css {
  color: #1572B6;
}

.icon-bootstrap {
  color: #7952B3;
}

.icon-node {
  color: #339933;
}

.icon-react {
  color: #61DAFB;
}

.icon-express {
  color: #000000;
}

.icon-mysql {
  color: darkblue;
}

.color {
  background-color: darkorchid;
}

#sticky-sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

#main {
  margin-left: 200px;
  
}

.justify-content-sidebar {
  justify-content: space-between;
}

.marginLeft{
  margin-left: 250px;
}

.icon-link {
  display: inline-block;
  padding: 0.5rem;
}

/* Style for the modal overlay */
.card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500; 
}

/* Style for the modal content */
.custome-modal-content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 35px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 750px;
  text-align: center;
}

/* Style for the modal close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Style for the modal body */
.modal-body {
  margin-bottom: 20px;
}

/* Style for the screenshot image */
.modal-screenshot {
  max-width: 100%;
  height: auto;
}

.modal-open .card-modal-overlay {
  backdrop-filter: blur(5px);
}

.custom-modal-footer {
  padding: 0 !important;
}

.custom-close {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}
.card-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

.card-border {
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s; 
  padding: 10%;
  max-height: 400px;
  overflow: hidden;
  flex: 1;
}

.card-border:hover {
  border-color: #333; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
}

/* Styling for the modal */
.form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

/* Styling for the modal content */
.form-modal-content {
  position: absolute;
  background-color: white;
  width: 60%;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the modal close button */
.form-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Styling for form elements */
.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button[type="submit"] {
  background-color: #258754;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 450px) {
  #sticky-sidebar {
    position: static; 
    width: 100%; 
    order: -1; 
    text-align: center; 
  }

  .rounded-circle {
    display: none;
  }

  .text-center {
    margin: 1rem 0;
    font-size: 1.2rem;
  }

  .text-center-footer {
    margin-bottom: 0% !important;
    font-size: 1.2rem;
  }

  #main {
    width: 100%;
    margin-left: 0%;
  }

  .no-ml {
    margin-left: 0%;
    padding: 2%;
  }

  .footer-ml {
    margin-left: 0%;
  }

  .evenly {
    justify-content: space-evenly !important;
  }

}

.thumbnail-image {
  width: 100px;
  height: 110px;
}

.project-image {
  width: 100%;
  max-height: 350px;
}

